/Drive-through/Drive-through/obj/**
/Drive-through/Drive-through/bin/
/Drive-through/.vs/Drive-through/v16/
Drive-through/Drive-through/obj/Debug/Drive-through.csproj.AssemblyReference.cache
Drive-through/Drive-through/obj/Debug/Drive-through.csproj.AssemblyReference.cache
*.cache
